<!-- <img appAnimation src="/assets/logotip.png" height="170" width="200" alt="logotip"> -->
<!-- <div>

</div> -->
<div class="container">
  <div class="back">
    <img src="/assets/home.jpg" alt="main">
  </div>
  <div class="animation__clouds">
    <img appClouds right="0px" left="-200px" top="0px" bottom="0px" src="/assets/street.png" alt="animation" height="220" width="390">
    <img appClouds right="0px" left="0px" top="-60px" bottom="0px" src="/assets/street.png" alt="animation" height="220" width="390">
    <img appClouds right="0px" left="200px" top="0px" bottom="0px" src="/assets/street.png" alt="animation" height="220" width="390">
    <img appClouds right="0px" left="0px" top="100px" bottom="0px" src="/assets/street.png" alt="animation" height="240" width="390">
    <img appClouds right="0px" left="-200px" top="0px" bottom="0px" src="/assets/street.png" alt="animation" height="240" width="390">
    <img appClouds right="0px" left="200px" top="0px" bottom="0px" src="/assets/street.png" alt="animation" height="240" width="390">
  </div>
  <div class="logotip">
    <div class="container__logo">
      <img src="/assets/logotip.png" height="120" width="140" alt="logotip">
      <span>Центр Питания БНТУ</span>
    </div>
  </div>
</div>
